.btn-filled {
  border-radius: 20px;
  font-size: 1 rem;
  color: white;
  background: #fc6011;
  border: none;
  padding: 10px 20px;
}

.btn-border {
  border-radius: 20px;
  font-size: 1 rem;
  background: #fff;
  color: #fc6011;
  border: 1px solid #fc6011;
  padding: 10px 20px;
}
