<section class="cards-container tabindex=0">
  <section class="card">
    <img
      class="card-img-top"
      src="https://images.unsplash.com/photo-1505394033641-40c6ad1178d7?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxzZWFyY2h8Mnx8aWNlJTIwY3JlYW18ZW58MHwyfDB8&auto=format&fit=crop&w=800&q=60"
      alt="Ice cream"
    />
    <p class="card-body">Ice cream</p>
  </section>

  <section class="card">
    <img
      class="card-img-top"
      src="https://images.unsplash.com/photo-1592177538809-f713fd7d82c9?ixid=MXwxMjA3fDB8MHxzZWFyY2h8NHx8Y2FrZXN8ZW58MHwyfDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60"
      alt="Cake"
    />
    <p class="card-body">Cake</p>
  </section>

  <section class="card">
    <img
      class="card-img-top"
      src="https://images.unsplash.com/photo-1600326145552-327f74b9c189?ixid=MXwxMjA3fDB8MHxzZWFyY2h8OXx8cGFuY2FrZXN8ZW58MHwyfDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60"
      alt="Pancake"
    />
    <p class="card-body">Pancake</p>
  </section>
</section>
