.welcome {
  background-image: url("../../assets/Background\ icons.svg");
  height: 100vh;
  width: 100vw;
  display: grid;
  place-items: center;
  align-content: center;
}

.meal {
  font-size: 34px;
  font-weight: bold;
  color: #fc6011;
}

.monkey {
  font-size: 34px;
  font-weight: bold;
  color: #4a4b4d;
}

.delivery {
  font-size: 10px;
  color: #4a4b4d;
  align-items: center;
}

.welcome > * {
  margin: 0;
}

.monkeyimg {
  margin-bottom: 1em;
}
